{#---------------------------------------------------------------------------

	ec-xx_index

	@memo

----------------------------------------------------------------------------#}

{#-	page_setting -#}

{#-		base -#}
{%-		set PAGENAME      =  'ページ名' -%}
{%-		set DIRNAME       =  'ディレクトリ名' -%}
{%-		set DIRCODE       =  'xx' -%}
{%-		set PAGECODE      =  'index' -%}

{#-		extents_twig -#}
{%-		extends 'default_frame.twig' -%}

{#-		js -#}
{%-		block js -%}
{%-		endblock js -%}

{#-		breadcrumb -#}
{%-		block breadcrumb %}
						{#- <li><a href="{{ constant( 'PUBLICDIR' ) }}/ec/{{ DIRCODE }}/">{{ DIRNAME }}</a></li> -#}
						<li class="current"><span>{{ PAGENAME }}</span></li>
{%		endblock breadcrumb %}

{#--------------------------------------------------------------------------#}

{%- block main %}
		<div class="title_wrap">
			<div class="title">
				<h1 class="title_text">{{ PAGENAME }}</h1>
			</div>
		</div>
		<div class="contents_wrap">
			<div class="ec_{{ DIRCODE }}_{{ PAGECODE }}_contents contents ec_contents">
				<section class="area">
					<div class="box">
						<div class="part step_part">
{%		set step = 1 %}
							<div class="step_cont current">
								<p class="step_step">{{ step }}{% set step = step + 1 %}</p>
								<p class="step_text">カート<br class="hide_tb_pc">の商品</p>
							</div>
{%-		if is_granted( 'ROLE_USER' ) == false %}
							<div class="step_cont">
								<p class="step_step">{{ step }}{% set step = step + 1 %}</p>
								<p class="step_text">お客様<br class="hide_tb_pc">情報</p>
							</div>
{%-		endif %}
							<div class="step_cont">
								<p class="step_step">{{ step }}{% set step = step + 1 %}</p>
								<p class="step_text">ご注文<br class="hide_tb_pc">手続き</p>
							</div>
							<div class="step_cont">
								<p class="step_step">{{ step }}{% set step = step + 1 %}</p>
								<p class="step_text">ご注文<br class="hide_tb_pc">確認</p>
							</div>
							<div class="step_cont">
								<p class="step_step">{{ step }}{% set step = step + 1 %}</p>
								<p class="step_text">完了</p>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="part">
							<div class="cont texts">
								<p>{{ 'var' }}</p>
							</div>
						</div>
						<div class="part">
							<div class="cont btn_wrap ">
								<a href="{{ url( 'homepage' ) }}" class="button">戻る<span></span></a>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="part">
							<form id="ec_{{ DIRCODE }}_{{ PAGECODE }}_form" method="post" action="{{ url( 'xxx' ) }}" class="cont">
								{{ form_widget( form._token ) }}
								<div class="form_input_set">
									<div class="form_fieldset">
										<div class="form_legend">
											<p>インプット名</p>
										</div>
										<div class="form_input">
											<p{{ has_errors( form.xxx ) ? ' class="error"' }}>{{ form_widget( form.xxx ) }}</p>
											{{- form_errors( form.xxx ) }}
										</div>
									</div>
								</div>
								<div class="form_submit_set">
									<div class="form_buttons btn_wrap center">
										<button type="submit" class="submit_send button"><span>ボタン名</span></button>
										<a href="{{ url( 'xxx' ) }}" class="button">戻る</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
{%	endblock %}
