{#---------------------------------------------------------------------------

	ec-mypage_change_complete

	@memo

----------------------------------------------------------------------------#}

{#-	page_setting -#}

{#-		base -#}
{%-		set PAGENAME      =  '会員情報編集 完了' -%}
{%-		set DIRNAME       =  'MYページ' -%}
{%-		set DIRCODE       =  'mypage' -%}
{%-		set PAGECODE      =  'change_complete' -%}

{#-		extents_twig -#}
{%-		extends 'default_frame.twig' -%}

{#-		js -#}
{%-		block js -%}
{%-		endblock js -%}

{#-		breadcrumb -#}
{%-		block breadcrumb %}
						<li><a href="{{ constant( 'PUBLICDIR' ) }}/ec/{{ DIRCODE }}/">{{ DIRNAME }}</a></li>
						<li class="current"><span>{{ PAGENAME }}</span></li>
{%		endblock breadcrumb %}

{#--------------------------------------------------------------------------#}

{%- block main %}
		<div class="title_wrap">
			<div class="title">
				<h1 class="title_text">{{ DIRNAME }}/{{ PAGENAME }}</h1>
			</div>
		</div>
		<div class="contents_wrap">
			<div class="ec_{{ DIRCODE }}_{{ PAGECODE }}_contents contents ec_contents">
				<div class="area">
{%		include 'Includes/mypage_navi.twig' %}
					<div class="box">
						<div class="part">
							<div class="cont texts">
								<p>会員登録内容の変更が完了いたしました</p>
								<p>それでは、引き続きショッピングをお楽しみください。</p>
							</div>
						</div>
						<div class="part">
							<div class="cont btn_wrap ">
								<a href="{{ url( 'homepage' ) }}" class="button">戻る<span></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{%	endblock %}
