{#---------------------------------------------------------------------------

	ec-mypage_history

	@memo

----------------------------------------------------------------------------#}

{#-	page_setting -#}

{#-		base -#}
{%-		set PAGENAME      =  'ご注文履歴詳細' -%}
{%-		set DIRNAME       =  'MYページ' -%}
{%-		set DIRCODE       =  'mypage' -%}
{%-		set PAGECODE      =  'history' -%}

{#-		extents_twig -#}
{%-		extends 'default_frame.twig' -%}

{#-		js -#}
{%-		block js -%}
{%-		endblock js -%}

{#-		breadcrumb -#}
{%-		block breadcrumb %}
						<li><a href="{{ constant( 'PUBLICDIR' ) }}/ec/{{ DIRCODE }}/">{{ DIRNAME }}</a></li>
						<li class="current"><span>{{ PAGENAME }}</span></li>
{%		endblock breadcrumb %}

{#--------------------------------------------------------------------------#}

{%- block main %}
		<div class="title_wrap">
			<div class="title">
				<h1 class="title_text">{{ DIRNAME }}/{{ PAGENAME }}</h1>
			</div>
		</div>
		<div class="contents_wrap">
			<div class="ec_{{ DIRCODE }}_{{ PAGECODE }}_contents contents ec_contents">
				<section class="area">
{%		include 'Includes/mypage_navi.twig' %}
{%		set remessage = false %}
					<div class="box ec_shopping_box">
						<div class="part info_part">
							<h4 class="heading_ec_shopping">ご注文履歴</h4>
							<div class="cont">
								<p><span class="v_tt">ご注文日時</span><span>{{ Order.create_date|date_sec }}</span></p>
								<p><span class="v_tt">ご注文番号</span><span>{{ Order.order_no }}</span></p>
{%		if BaseInfo.option_mypage_order_status_display %}
								<p><span class="v_tt">ご注文状況</span><span>{{ Order.CustomerOrderStatus }}</span></p>
{%		endif %}
{%		if BaseInfo.isOptionPoint %}
								<p><span class="v_tt">ご利用ポイント</span><span>{{ Order.usePoint|number_format }}</span></p>
								<p><span class="v_tt">加算ポイント</span><span>{{ Order.addPoint|number_format }}</span></p>
{%		endif %}
							</div>
						</div>
						<div class="part shipping_part">
							<h4 class="heading_ec_shopping">配送情報</h4>
{%		for shipping in Order.shippings %}
{%			set isShowReducedTaxMess = false %}
							<div class="cont">
								<h5 class="heading05">お届け先 {% if Order.multiple %}( {{ loop.index }} ){% endif %}</h5>
								<div class="ec_delivery_items">
{%			for orderItem in shipping.productOrderItems %}
{% dump orderItem %}
									<div class="image_texts ec_products_list">
										<div class="image_item">
{%				if orderItem.product is null %}
											<p class="pic noimage"><img src="{{ asset( ''|no_image_product, 'save_image' ) }}"></p>
{%				elseif  oo_get_wp_pic_main_path_by_id( orderItem.Product.id, 'thumbnail' ) %}
											<p class="pic"><img src="{{ oo_get_wp_pic_main_path_by_id( orderItem.Product.id, 'thumbnail' ) }}"></p>
{%				else %}
											<p class="pic"><img src="{{ asset( orderItem.Product.MainListImage|no_image_product, 'save_image' ) }}"></p>
{%				endif %}
										</div>
										<div class="texts_item">
											<p>
{%-				if orderItem.Product is not null and orderItem.Product.Status.id == constant( 'Eccube\\Entity\\Master\\ProductStatus::DISPLAY_SHOW' ) and oo_get_wp_permalink_by_id( orderItem.Product.id ) -%}
												<a href="{{ oo_get_wp_permalink_by_id( orderItem.Product.id ) }}">{{ orderItem.productName }}</a>
{%-				else -%}
												{{ orderItem.productName }}
{%- 			endif -%}
												×{{ orderItem.quantity }} {% if is_reduced_tax_rate( orderItem ) %}※{% set isShowReducedTaxMess = true %}{% endif -%}
											</p>
{%				if orderItem.productClass is not null and orderItem.productClass.classCategory1 %}
											<p>{{ orderItem.productClass.classCategory1.className.name }}：{{ orderItem.productClass.classCategory1 }}</p>
{%				endif %}
{%				if orderItem.productClass is not null and orderItem.productClass.classCategory2 %}
											<p>{{ orderItem.productClass.classCategory2.className.name }}：{{ orderItem.productClass.classCategory2 }}</p>
{%				endif %}
											<p>{{ orderItem.priceIncTax|price }} × {{ orderItem.quantity|number_format }}</p>
{%				if orderItem.product and orderItem.price_inc_tax != orderItem.productClass.price02IncTax %}
											<p class="accent">【現在価格】{{ orderItem.productClass.price02IncTax|price }}</p>
{%					set remessage = true %}
{%				endif %}
										</div>
									</div>
{%			endfor %}
{%			if isShowReducedTaxMess %}
									<p class="supple">※ は軽減税率対象商品です。</p>
{%			endif %}
								</div>
								<div class="ec_delivery_address">
									<p>{{ shipping.name01 }} {{ shipping.name02 }}（{{ shipping.kana01 }} {{ shipping.kana02 }}）様</p>
									<p>〒{{ shipping.postal_code }} {{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}</p>
									<p>{{ shipping.phone_number }}</p>
								</div>
								<div class="ec_delivery_actions">
									<div class="v_text">
										<h6>配送方法</h6>
										<p>{{ shipping.shipping_delivery_name }}</p>
									</div>
									<div class="v_text">
										<h6>お届け日時</h6>
										<p>{{ shipping.shipping_delivery_date|date_day_with_weekday|default( '指定なし' ) }}</p>
									</div>
									<div class="v_text">
										<h6>お届け時間</h6>
										<p>{{ shipping.shipping_delivery_time|default( '指定なし' ) }}</p>
									</div>
								</div>
							</div>
{%		endfor %}
						</div>
						<div class="part payment_part">
							<h4 class="heading_ec_shopping">お支払い情報</h4>
							<div class="cont texts">
								<p><span>お支払い方法</span><span>{{ Order.PaymentMethod }}</span></p>
							</div>
						</div>
						<div class="part contact_part">
							<h4 class="heading_ec_shopping">お問い合わせ</h4>
							<div class="cont texts">
								<p>{{ Order.message|default( '記載なし' )|nl2br }}</p>
							</div>
						</div>
						<div class="part mail_part">
							<h4 class="heading_ec_shopping">メール配信履歴一覧</h4>
{%		for MailHistory in Order.MailHistories %}
							<div class="cont texts openclose_wrap">
								<p>{{ MailHistory.send_date|date_sec }}</p>
								<p class="openclose_handle plus"><span>{{ MailHistory.mail_subject }}</span></p>
								<p class="openclose_target" style="display: none;">{{ MailHistory.mail_body|nl2br }}</p>
							</div>
{%		else %}
							<div class="cont texts">
								<p>メール履歴はありません。</p>
							</div>
{%		endfor %}
						</div>
						<div class="part ec_order_part">
							<div class="cont ec_order_sticky_wrap">
								<div class="order_table_wrap">
									<table class="order_table">
										<caption>表:ご注文履歴 合計</caption>
										<tbody>
											<tr>
												<th scope="row">小計</th>
												<td>
													<p class="ec_price"><span>{{ Order.subtotal|price }}</span></p>
												</td>
											</tr>
											<tr>
												<th scope="row">手数料</th>
												<td>
													<p class="ec_price"><span>{{ Order.charge|price }}</span></p>
												</td>
											</tr>
											<tr>
												<th scope="row">送料</th>
												<td>
													<p class="ec_price"><span>{{ Order.deliveryFeeTotal|price }}</span></p>
												</td>
											</tr>
	{%		if Order.taxable_discount < 0 %}
											<tr>
												<th scope="row">値引き</th>
												<td>
													<p class="ec_price"><span>{{ Order.taxable_discount|price }}</span></p>
												</td>
											</tr>
	{%		endif %}
											<tr class="order_table_total_row">
												<th scope="row">合計</th>
												<td>
													<p class="ec_price total"><span>{{ Order.taxable_total|price }}</span><span class="ec_tax_word">税込</span></p>
	{%		for rate, total in Order.taxable_total_by_tax_rate %}
													<p><span class="ec_supple">税率 {{ rate }} %対象 {{ total|price }}</span></p>
	{%		endfor %}
	{%		for item in Order.tax_free_discount_items %}
													<p class="ec_supple icon_list"><span>{{ item.product_name }}</span> <span>{{ item.total_price|price }}</span></p>
	{%		endfor %}
												</td>
											</tr>
											<tr class="order_table_total_row">
												<th scope="row">合計</th>
												<td>
													<p class="ec_price v_total v_text_strong"><span>{{ Order.payment_total|price }}</span><span class="ec_tax_word">税込</span></p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
{%		if stockOrder %}
								<div class="btn_wrap ">
									<a href="{{ url( 'mypage_order', {'order_no': Order.order_no } ) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false" class="button bc_strong"><span>再注文する</span></a>
								</div>
{%		endif %}
{%		if remessage %}
								<div class="cont texts">
									<p class="accent supple icon_kome">金額が変更されている商品があるため、再注文時はご注意ください。</p>
								</div>
{%		endif %}
							</div>
						</div>
					</div>
					<div class="box">
						<div class="part">
							<div class="cont btn_wrap ">
								<a href="{{ url( 'mypage' ) }}" class="button bc0"><span>戻る</span></a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
{%	endblock %}
