{#---------------------------------------------------------------------------

	ec-mypage_withdraw_complete

	@memo

----------------------------------------------------------------------------#}

{#-	page_setting -#}

{#-		base -#}
{%-		set PAGENAME      =  '退会手続き 完了' -%}
{%-		set DIRNAME       =  'MYページ' -%}
{%-		set DIRCODE       =  'mypage' -%}
{%-		set PAGECODE      =  'withdraw_complete' -%}

{#-		extents_twig -#}
{%-		extends 'default_frame.twig' -%}

{#-		js -#}
{%-		block js -%}
{%-		endblock js -%}

{#-		breadcrumb -#}
{%-		block breadcrumb %}
						<li><a href="{{ constant( 'PUBLICDIR' ) }}/ec/{{ DIRCODE }}/">{{ DIRNAME }}</a></li>
						<li class="current"><span>{{ PAGENAME }}</span></li>
{%		endblock breadcrumb %}

{#--------------------------------------------------------------------------#}

{%- block main %}
		<div class="title_wrap">
			<div class="title">
				<h1 class="title_text">{{ PAGENAME }}</h1>
			</div>
		</div>
		<div class="contents_wrap">
			<div class="ec_{{ DIRCODE }}_{{ PAGECODE }}_contents contents ec_contents">
				<div class="area">
{%		include 'Includes/mypage_navi.twig' %}
					<div class="box narrow_pc">
						<div class="part">
							<div class="cont texts">
								<p>退会が完了いたしました</p>
								<p>ご利用いただき誠にありがとうございました。<br>またのご来店をお待ちしております。</p>
							</div>
						</div>
						<div class="part">
							<div class="cont btn_wrap">
								<a href="{{ url( 'homepage' ) }}" class="button"><span>トップページ</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{%	endblock %}
