{#---------------------------------------------------------------------------

	ec-shopping_error

	@memo

----------------------------------------------------------------------------#}

{#-	page_setting -#}

{#-		base -#}
{%-		set PAGENAME      =  '購入エラー' -%}
{%-		set DIRNAME       =  'ご注文' -%}
{%-		set DIRCODE       =  'shopping' -%}
{%-		set PAGECODE      =  'error' -%}

{#-		extents_twig -#}
{%-		extends 'default_frame.twig' -%}

{#-		js -#}
{%-		block js -%}
{%-		endblock js -%}

{#-		breadcrumb -#}
{%-		block breadcrumb %}
						<li><a href="{{ constant( 'PUBLICDIR' ) }}/ec/{{ DIRCODE }}/">{{ DIRNAME }}</a></li>
						<li class="current"><span>{{ PAGENAME }}</span></li>
{%		endblock breadcrumb %}

{#--------------------------------------------------------------------------#}

{%- block main %}
		<div class="title_wrap">
			<div class="title">
				<h1 class="title_text">{{ PAGENAME }}</h1>
			</div>
		</div>
		<div class="contents_wrap">
			<div class="ec_{{ DIRCODE }}_{{ PAGECODE }}_contents contents ec_contents">
				<div class="area">
					<div class="box">
{{		include( 'Shopping/alert.twig', { 'error_only': true } ) }}
						<div class="part">
							<div class="cont btn_wrap ">
								<a href="{{ url( 'cart' ) }}" class="button"><span>カートに戻る</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{%	endblock %}
